@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Google Maps Admin</h2>
<hr />
<br /><br />
<a href="LocationMap" class="col-md-2 btn btn-default">Map</a>
<a href="MapLocations" class="col-md-2 btn btn-default">Plant Locations</a>
<a href="FacilityTypes" class="col-md-2 btn btn-default">Facility Types</a>
<a href="Products" class="col-md-2 btn btn-default">Products</a>
<a href="Regions" class="col-md-2 btn btn-default">Regions</a>
<div class="col-md-2"></div>
<div class="row">
    <div class="col-sm-12">
        <div id="result"></div>
    </div>
</div>
