<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IntranetResourcesEntities" connectionString="metadata=res://*/Domain.IntranetResources.csdl|res://*/Domain.IntranetResources.ssdl|res://*/Domain.IntranetResources.msl;provider=System.Data.SqlClient;provider connection string='data source=db-inetres\sqlcorp;initial catalog=GoogleMapsManager;persist security info=True;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="BaseURL" value="http://webapps.westrock.com/GoogleMapsManager" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ErrorLoggingEmail" value="IntranetFeedback@westrock.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>